<h1>FOOD TRACKER 🚀</h1>
<div class="upper-section">
  <div class="search-ingredients">
    Search Bar
  </div>
</div>
<div class="lower-section">
  <div class="meal-section">
    Meals
  </div>
  <div class="workouts">
    Calories Burned
  </div>
  <div class="summary">
    Superavit/deficit
  </div>
</div>
