<h1>FOOD TRACKER 🚀</h1>
<div class="upper-section">
  <div class="search-ingredients text-lg leading-snug">
    Search Bar
  </div>
  <div class="recipes">
    Either create recipes or search my own
    <%# cloudinary to upload pics %>
  </div>
</div>
<div class="lower-section">
  <div class="meal-section">
    Meals
  </div>
  <div class="workouts">
    Calories Burned
  </div>
  <div class="summary">
    Superavit/deficit
  </div>
</div>
