<h1 class="mb-4 text-3xl font-black">FOOD TRACKER 🚀</h1>

<div class="upper-section max-w-lg mx-auto mt-16 text-center max-w-sm rounded overflow-hidden shadow-lg p-10">
  <div class="search-ingredients text-lg leading-snug">
    Search Bar
  </div>
  <div class="recipes">
    Either create recipes or search my own
    <%# cloudinary to upload pics %>
  </div>
</div>
<div class="lower-section">
  <div class="meal-section">
    Meals
  </div>
  <div class="workouts">
    Calories Burned
  </div>
  <div class="summary">
    Superavit/deficit
  </div>
</div>
