<h1>FOOD TRACKER 🚀</h1>
<div class="max-w-lg mx-auto mt-16 text-center max-w-sm rounded overflow-hidden shadow-lg p-10">
  <h1 class="mb-4 text-3xl font-black">Here are all our users!</h1>
  <p class="text-lg leading-snug">If this looks nice, it means Tailwind is set up properly.</p>
</div>
<div class="upper-section">
  <div class="search-ingredients">
    Search Bar
  </div>
  <div class="recipes">
    Either create recipes or search my own
    <%# cloudinary to upload pics %>
  </div>
</div>
<div class="lower-section">
  <div class="meal-section">
    Meals
  </div>
  <div class="workouts">
    Calories Burned
  </div>
  <div class="summary">
    Superavit/deficit
  </div>
</div>
