<h1>Meals 🚀</h1>
<%# <%= @info['foods']['food'][0] %>
<% @food['foods']['food'].each do |data| %>
  <div class="lightui1">
    <div class="lightui1b-shimmer">
    <% @id = data['food_id'] %>
      <h2>
        <%= data['food_name'] %>
      </h2>
    </div>
      <%= data['food_description'] %>
  </div>
<% end %>

<% @info['food']['servings']['serving'].each do |fact| %>
  <div class="nut-facts">
    <% fact.each do |key, value| %>
      <div class="nut-fact-child">
        <%= "#{key}: #{value}" %>
      </div>
    <% end %>
  </div>
<% end %>
