<h1>Meals 🚀</h1>
<%# <%= @info['foods']['food'][0] %>
<div class="selector">
  <% @info['foods']['food'].each do |data| %>
    <label for="happy-radio" class="happy-card">
      <h1>
        <%= data['food_name'] %>
      </h1>
      <ul>
        <li>
         <%= data['food_description'] %>
        </li>
      </ul>
    </label>
  <% end %>
</div>
