// Place all the styles related to the meals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

body {
  background-color: #ffffff;
  font-family: 'Open Sans';
  font-size: 12px;
  color: #737373;
}

h1 {
  text-align: center;
  font-weight: 300;
  color: #69b5dd;
  padding-bottom: 60px;
  padding-top: 50px;
}

#u_0_v {
  width: 500px;
  margin: 0 auto;
}

.lightui1{border:1px solid;border-color:#bdbdbd;border-radius:2px;
padding: 20px;
background: #ffffff;}

.lightui1-shimmer {
  // -webkit-animation-duration: 1s;
  // -webkit-animation-fill-mode: forwards;
  // -webkit-animation-iteration-count: infinite;
  // -webkit-animation-name: placeHolderShimmer;
  // -webkit-animation-timing-function: linear;
  background: #d8d8d8;
  background-image: linear-gradient(to right, #d8d8d8 0%, #bdbdbd 20%, #d8d8d8 40%, #d8d8d8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  // height: 104px;
  position: relative
}

.lightui1-shimmer div {
  background: #ffffff;
  height: 6px;
  left: 0;
  position: absolute;
  right: 0
}


.lightui1b-shimmer {
  // -webkit-animation-duration: 1s;
  // -webkit-animation-fill-mode: forwards;
  // -webkit-animation-iteration-count: infinite;
  // -webkit-animation-name: placeHolderShimmer;
  // -webkit-animation-timing-function: linear;
  background: #f0f0f0;
  background-image: linear-gradient(to right, #f0f0f0 0%, #d8d8d8 20%, #f0f0f0 40%, #f0f0f0 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  // height: 104px;
  position: relative
}

.lightui1b-shimmer div {
  background: #ffffff;
  height: 6px;
  left: 0;
  position: absolute;
  right: 0
}
